# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4

Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Allman
AlignAfterOpenBracket: Align
ColumnLimit: 80
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always
EmptyLineBeforeAccessModifier: LogicalBlock

AccessModifierOffset: 0
IndentAccessModifiers: true
